.about {
  @include Display($space: space-between);
  padding: 68px 0 76px;
  &__content-wrapper {
    width: 542px;
    &__title {
      @include TextStyle(
        $fw: 700,
        $fs: 48px,
        $ln: 100%,
        $ls: 0%,
        $clr: var(--clr-333)
      );
    }
    &__coment {
      @include TextStyle(
        $fw: 400,
        $fs: 18px,
        $ln: 100%,
        $ls: 0%,
        $clr: var(--clr-333)
      );
      opacity: 80%;
      margin: 16px 0;
    }
    &__btn {
      @include Btn($padding: 15px 48px, $font-size: 18px);
      @include Display($space: end);
    }
    &__btn:hover {
      @include Btn-hover();
    }
    &__btn:active {
      @include Btn-active();
    }
  }
}
