.catalog {
  @include Display($space: start);
  flex-direction: column;
  gap: 46px;
  &__title {
    @include TextStyle(
      $fw: 700,
      $fs: 48px,
      $ln: 100%,
      $ls: 0%,
      $clr: var(--clr-333)
    );
    text-align: center;
  }
  &__menu-wrapper {
    @include Display($space: space-between);
    width: 100%;
    gap: 26px;
    margin-bottom: 58px;
    &__content-wrapper {
      box-shadow: 0px 0px 6px 0px var(--clr-000-1a);
      &__images {
        margin: 7px;
      }
      &__content {
        margin: 19px;
        &__title {
          @include TextStyle(
            $fw: 500,
            $fs: 20px,
            $ln: 150%,
            $ls: 0%,
            $clr: var(--clr-000)
          );
          vertical-align: middle;
          opacity: 80%;
          margin-bottom: 3px;
        }
        &__coment {
          @include TextStyle(
            $fw: 700,
            $fs: 14px,
            $ln: 20px,
            $ls: 0%,
            $clr: var(--clr-333-cc)
          );
          opacity: 80%;
          &__span {
            @include TextStyle(
              $fw: 500,
              $fs: 14px,
              $ln: 20px,
              $ls: 0%,
              $clr: var(--clr-333-cc)
            );
            opacity: 60%;
          }
        }
        &__btn {
          @include Btn($padding: 9px 61px, $font-size: 18px);
          @include Display($space: start);
          margin-top: 14px;
        }
        &__btn:hover {
          @include Btn-hover();
        }
        &__btn:active {
          @include Btn-active();
        }
      }
    }
  }
}
