.site-footer {
  padding: 50px 0 32px;
  background-color: var(--clr-footer-bc);
}

.footer-top {
  @include Display($space: space-between);
  align-items: start !important;
  border-bottom: 0.7px solid var(--clr-474);
  padding-bottom: 35px;
  &__link {
    @include Display($space: start);
    gap: 6px;
    &__coment {
      @include TextStyle(
        $fw: 500,
        $fs: 20px,
        $ln: 100%,
        $ls: 0%,
        $clr: var(--clr-fff)
      );
    }
  }
  &__content-wrapper {
    width: 260px;
    &__title {
      @include TextStyle(
        $fw: 700,
        $fs: 20px,
        $ln: 100%,
        $ls: 0%,
        $clr: var(--clr-fff)
      );
    }
    &__coment {
      @include TextStyle(
        $fw: 400,
        $fs: 16px,
        $ln: 100%,
        $ls: 0%,
        $clr: var(--clr-fff)
      );
      margin: 5px 0;
      &:hover {
        @include TextStyle(
          $fw: 400,
          $fs: 16px,
          $ln: 100%,
          $ls: 0%,
          $clr: var(--clr-blue)
        );
      }
    }
    &__title-2 {
      @include TextStyle(
        $fw: 700,
        $fs: 16px,
        $ln: 100%,
        $ls: 0%,
        $clr: var(--clr-fff)
      );
    }
    &__title-3 {
      @include TextStyle(
        $fw: 700,
        $fs: 16px,
        $ln: 100%,
        $ls: 0%,
        $clr: var(--clr-fff)
      );
    }
    &__link {
      @include TextStyle(
        $fw: 400,
        $fs: 16px,
        $ln: 100%,
        $ls: 0%,
        $clr: var(--clr-fff)
      );
      margin: 5px 0;
      &:hover {
        @include TextStyle(
          $fw: 400,
          $fs: 16px,
          $ln: 100%,
          $ls: 0%,
          $clr: var(--clr-blue)
        );
      }
    }
    &__input {
      padding: 19px 11px 18px 12px;
      width: 238px;
      outline: none;
      background-color: var(--clr-footer-bc);
      border: 1.5px solid var(--clr-fff);
      border-radius: 8px;
      @include TextStyle(
        $fw: 400,
        $fs: 16px,
        $ln: 100%,
        $ls: 0%,
        $clr: var(--clr-fff)
      );
      margin-bottom: 20px;
      &:focus {
        border: 1.5px solid var(--clr-blue);
      }
    }
    &__input::placeholder {
      @include TextStyle(
        $fw: 400,
        $fs: 16px,
        $ln: 100%,
        $ls: 0%,
        $clr: var(--clr-fff)
      );
    }
    &__btn {
      background-color: var(--clr-303);
      padding: 17px 73px;
      border: 1.5px solid var(--clr-fff);
      border-radius: 8px;
      @include TextStyle(
        $fw: 700,
        $fs: 18px,
        $ln: 100%,
        $ls: 0%,
        $clr: var(--clr-fff)
      );

      text-align: center;
    }
    &__btn:hover {
      background-color: var(--clr-footer-bc);
    }
    &__btn:active {
      background-color: var(--clr-303);
    }
  }
}
