.site-footer {
  padding: 50px 0 32px;
  background-color: var(--clr-footer-bc);
}

.footer-top {
  @include Display($space: space-between);
  align-items: start !important;
  border-bottom: 0.7px solid var(--clr-474);
  padding-bottom: 35px;
  &__link {
    @include Display($space: start);
    gap: 6px;
    &__coment {
      font-weight: 500;
      font-size: 20px;
      line-height: 100%;
      letter-spacing: 0%;
      color: var(--clr-fff);
    }
  }
  &__content-wrapper {
    width: 260px;
    &__title {
      font-weight: 700;
      font-size: 20px;
      line-height: 100%;
      letter-spacing: 0px;
      color: var(--clr-fff);
    }
    &__coment {
      font-weight: 400;
      font-size: 16px;
      line-height: 100%;
      letter-spacing: 0px;
      color: var(--clr-fff);
      margin: 5px 0;
    }
    &__title-2 {
      font-weight: 700;
      font-size: 16px;
      line-height: 100%;
      letter-spacing: 0px;
      color: var(--clr-fff);
    }
    &__title-3 {
      font-weight: 700;
      font-size: 16px;
      line-height: 100%;
      letter-spacing: 0px;
      color: var(--clr-fff);
    }
    &__link {
      font-weight: 400;
      font-size: 16px;
      line-height: 100%;
      letter-spacing: 0px;
      color: var(--clr-fff);
      margin: 5px 0;
    }
    &__input {
      padding: 19px 11px 18px 12px;
      width: 238px;
      outline: none;
      background-color: var(--clr-footer-bc);
      border: 1.5px solid var(--clr-fff);
      border-radius: 8px;
      font-weight: 400;
      font-size: 16px;
      line-height: 100%;
      letter-spacing: 0%;
      color: var(--clr-fff);
      margin-bottom: 20px;
    }
    &__input::placeholder {
      font-weight: 400;
      font-size: 16px;
      line-height: 100%;
      letter-spacing: 0%;
      color: var(--clr-fff);
    }
    &__btn {
      background-color: var(--clr-303);
      padding: 17px 73px;
      border: 1.5px solid var(--clr-fff);
      border-radius: 8px;
      color: var(--clr-fff);
      font-weight: 700;
      font-size: 18px;
      line-height: 100%;
      letter-spacing: 0%;
      text-align: center;
    }
    &__btn:hover {
      background-color: var(--clr-footer-bc);
    }
    &__btn:active {
      background-color: var(--clr-303);
    }
  }
}
