.hero-section {
  background-image: url(../../images/hero-bg-1.png);
  padding: 110px 0 122px;
}

.hero {
  width: 582px;
  margin: 0;
  &__title {
    @include TextStyle(
      $fw: 700,
      $fs: 40px,
      $ln: 100%,
      $ls: 0%,
      $clr: var(--clr-fff)
    );
    text-transform: uppercase;
  }
  &__content {
    @include TextStyle(
      $fw: 400,
      $fs: 24px,
      $ln: 100%,
      $ls: 0%,
      $clr: var(--clr-fff)
    );
    opacity: 80%;
    padding-right: 86px;
    margin: 16px 0 32px;
  }
  &__btn {
    @include Btn($padding: 8px 15px, $font-size: 18px);
  }
  &__btn:hover {
    @include Btn-hover();
  }
  &__btn:active {
    @include Btn-active();
  }
}
