.partner-section {
  padding: 67px 0 57px;
}
.partner {
  @include Display($space: start);
  flex-direction: column;
  gap: 30px;
  &__title {
    @include TextStyle(
      $fw: 700,
      $fs: 48px,
      $ln: 100%,
      $ls: 0%,
      $clr: var(--clr-333)
    );
    text-align: center;
  }
  &__images-wrapper {
    @include Display($space: space-between);
    gap: 50px;
    flex-wrap: wrap;
  }
}
