.patent {
  &__content-wrapper {
    margin: 0 auto;
    width: 873px;
    &__title {
      font-weight: 700;
      font-size: 48px;
      line-height: 100%;
      letter-spacing: 0%;
      text-align: center;
      text-transform: capitalize;
      color: var(--clr-333);
      &__span {
        text-transform: lowercase;
      }
    }
    &__content {
      @include TextStyle(
        $fw: 400,
        $fs: 18px,
        $ln: 100%,
        $ls: 0%,
        $clr: var(--clr-333)
      );
      text-align: center;
    }
  }
  &__images {
    margin: 0 auto;
  }
}
